/*CSS reset settings here*/
* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
#wrapper{
 display: inline-block;
 width: 825px;
 height: 560px;
 padding: 20px; /*padding: top right bottom left;*/
 background-color: silver;
 margin: 0px auto;
}
#header{
 display: inline-block;
 width: 825px; /*padding: 25px 50px 75px 100px;*/
 height: 150px;
 margin-bottom: 20px;
 background-color: green;
}
#navigation{
 display: inline-block;
 height: 300px;
 width: 180px;
 margin-right: 20px;
 background-color: blue;
}
#main_content{
 display: inline-block;
 vertical-align: top;
 height: 390px;
 width: 620px;
 background-color: red;
}
.subcontents{
 display: inline-block;
 height: 180px;
 width: 180px;
 margin: 10px 0px 10px 10px; /*top right bottom left*/
 background-color: yellow;
}
#advertisement{
 /*display: inline-block;*/
 height: 120px;
 width: 570px;
 margin-left: 10px;
 background-color: purple;
}
