<p>
  <%= flash[:update] %>
</p>
<div style="width:500px;border:1px solid #000;background:yellow;font-size:32px">

  <p style = "text-align:center"><script type="text/javascript">
  var text = "";
  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

  for( var i=0; i < 14; i++ ) {
      text = possible.charAt(Math.floor(Math.random() * possible.length));
      document.write(text);
  }

  </script></p>

</div>

<a href="/update"><button>Generate Random Word</button></a>
<a href="/reset"><button>Reset!</button></a>
